/*
 * Example configuration file for kenotaph-daemon.
 */

/*
 * Capture on Wireless interface in monitor mode.
 */
interface wlan0
{
	// Enable monitor mode, if supported. Monitor mode is disabled by default.
	monitor_mode = true

	// Enable promiscuous mode. Promiscuous mode is enabled by default.
	promisc_mode = true

	// Use default link_type, otherwise this value would override it.
	//link_type = "EN10MB"

	// This option is ignored by kenotaph-daemon but it allows external tools
	// to get an information about a wireless channel on which we want to
	// listen. This option only makes sense when monitor mode is enabled.
	channel = 6

	// Enable or disable this interface section. By setting this value to
	// false, everything inside this section will be ignored.
	enabled = true

	device mydevice1
	{
		// Enable or disabled this device section.
		enabled = true

		// Berkeley Packet Filter describing how to match packets belonging to
		// a device.
		match = "ether host aa:bb:cc:dd:ee:f1"

		// Maximum time spent waiting for another matched packet. If this value
		// is exceeded, device is pronounced absent.
		timeout = 900
	}

	// ... define other devices.

	// ... or include them from elsewhere.
	include ("externaldevice.conf")
}

/*
 * Capture on Ethernet interface.
 */
interface eth0
{
	device officeprinter
	{
		match = "ip host hpprinter"
		timeout = 3600
	}

	device homeserver
	{
		match = "ip host 192.168.1.52 or ip host 192.168.1.60"
		timeout = 200
	}
}


